/* PLUGINS */
/* BASE STYLES */
body {
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  background: #f1e3f6;
}

h2, h3 {
  font-size: 25.2px;
  font-weight: normal;
  text-align: center;
  color: #6d0693;
}

h3 {
  color: white;
  padding: 10px 0;
  background: #7c1f9e;
  font-size: 19.6px;
  text-transform: uppercase;
}

section::after {
  clear: both;
  content: "";
  display: table;
}

footer {
  text-align: center;
  color: #df9fbf;
}

.element1, .element2 {
  background-color: #c69;
  border-radius: 20px;
  box-shadow: -4px 4px 4px #000;
  height: 100px;
  width: 150px;
}

/* LAYOUTS */
header {
  text-align: center;
}
header::after {
  clear: both;
  content: "";
  display: block;
}
header .first-half-header {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}
header nav {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  position: relative;
  top: -10px;
}

.container {
  padding: 30px;
  width: 960px;
  margin: 30px auto;
  box-sizing: border-box;
  background: white;
  position: relative;
}
.container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 10px;
  left: -10px;
  background: #490462;
  box-shadow: -10px 10px 0 #5b057b;
}

article {
  padding: 10px;
  border: 1px solid purple;
  border-radius: 20px;
}
article::after {
  clear: both;
  content: "";
  display: block;
}
article .example1 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}
article .example2 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

#more-elements::after {
  clear: both;
  content: "";
  display: block;
}
#more-elements .element1, #more-elements .element2 {
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px;
}
#more-elements .element2 {
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  background-color: #6d0693;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #9951b3;
  color: white;
}

/* MODULES */
#boxes::after {
  clear: both;
  content: "";
  display: block;
}
#boxes .box1 {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  background-color: purple;
  padding: 50px 10px;
  -webkit-animation: fadeIn 3s ease-in, slide 2s ease;
  animation: fadeIn 3s ease-in, slide 2s ease;
}
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
#boxes .box2 {
  left: calc(25% - 25px + 20px);
  position: relative;
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px;
  background-color: purple;
  padding: 50px 0px;
  -webkit-animation: mine 3s linear, slide 2s ease;
  animation: mine 3s linear, slide 2s ease;
}
@-webkit-keyframes mine {
  from {
    background-color: yellow;
  }
  to {
    background-color: #6d0693;
  }
}
@keyframes mine {
  from {
    background-color: yellow;
  }
  to {
    background-color: #6d0693;
  }
}
#boxes-1 {
  color: white;
}
#boxes-1::after {
  clear: both;
  content: "";
  display: block;
}
#boxes-1 .box1-1 {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  background-color: #411850;
  padding: 5px 10px;
}
#boxes-1 .box2-1 {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  background-color: #6d0693;
  padding: 5px 10px;
}
#boxes-1 .box3-1 {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  background-color: #b771d1;
  padding: 5px 10px;
}

form {
  width: 500px;
  margin: 0 auto;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  position: relative;
  padding: 10px;
  border: solid 1px #444;
  box-shadow: -4px 4px 4px #000;
  font-size: 14px;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  padding: 11px;
  border: solid 1px #333;
  box-shadow: -5px 5px 5px #000;
  outline-color: #4CAF50;
}
input[type="color"]:focus::-webkit-input-placeholder, input[type="date"]:focus::-webkit-input-placeholder, input[type="datetime"]:focus::-webkit-input-placeholder, input[type="datetime-local"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="month"]:focus::-webkit-input-placeholder, input[type="number"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="search"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="time"]:focus::-webkit-input-placeholder, input[type="url"]:focus::-webkit-input-placeholder, input[type="week"]:focus::-webkit-input-placeholder, input:not([type]):focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder,
input[type="color"]:hover::-webkit-input-placeholder, input[type="date"]:hover::-webkit-input-placeholder, input[type="datetime"]:hover::-webkit-input-placeholder, input[type="datetime-local"]:hover::-webkit-input-placeholder, input[type="email"]:hover::-webkit-input-placeholder, input[type="month"]:hover::-webkit-input-placeholder, input[type="number"]:hover::-webkit-input-placeholder, input[type="password"]:hover::-webkit-input-placeholder, input[type="search"]:hover::-webkit-input-placeholder, input[type="tel"]:hover::-webkit-input-placeholder, input[type="text"]:hover::-webkit-input-placeholder, input[type="time"]:hover::-webkit-input-placeholder, input[type="url"]:hover::-webkit-input-placeholder, input[type="week"]:hover::-webkit-input-placeholder, input:not([type]):hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #888;
}
input[type="color"]:focus::-moz-placeholder, input[type="date"]:focus::-moz-placeholder, input[type="datetime"]:focus::-moz-placeholder, input[type="datetime-local"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="month"]:focus::-moz-placeholder, input[type="number"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, input[type="search"]:focus::-moz-placeholder, input[type="tel"]:focus::-moz-placeholder, input[type="text"]:focus::-moz-placeholder, input[type="time"]:focus::-moz-placeholder, input[type="url"]:focus::-moz-placeholder, input[type="week"]:focus::-moz-placeholder, input:not([type]):focus::-moz-placeholder, textarea:focus::-moz-placeholder,
input[type="color"]:hover::-moz-placeholder, input[type="date"]:hover::-moz-placeholder, input[type="datetime"]:hover::-moz-placeholder, input[type="datetime-local"]:hover::-moz-placeholder, input[type="email"]:hover::-moz-placeholder, input[type="month"]:hover::-moz-placeholder, input[type="number"]:hover::-moz-placeholder, input[type="password"]:hover::-moz-placeholder, input[type="search"]:hover::-moz-placeholder, input[type="tel"]:hover::-moz-placeholder, input[type="text"]:hover::-moz-placeholder, input[type="time"]:hover::-moz-placeholder, input[type="url"]:hover::-moz-placeholder, input[type="week"]:hover::-moz-placeholder, input:not([type]):hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #888;
}
input[type="color"]:focus:-moz-placeholder, input[type="date"]:focus:-moz-placeholder, input[type="datetime"]:focus:-moz-placeholder, input[type="datetime-local"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="month"]:focus:-moz-placeholder, input[type="number"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, input[type="search"]:focus:-moz-placeholder, input[type="tel"]:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, input[type="time"]:focus:-moz-placeholder, input[type="url"]:focus:-moz-placeholder, input[type="week"]:focus:-moz-placeholder, input:not([type]):focus:-moz-placeholder, textarea:focus:-moz-placeholder,
input[type="color"]:hover:-moz-placeholder, input[type="date"]:hover:-moz-placeholder, input[type="datetime"]:hover:-moz-placeholder, input[type="datetime-local"]:hover:-moz-placeholder, input[type="email"]:hover:-moz-placeholder, input[type="month"]:hover:-moz-placeholder, input[type="number"]:hover:-moz-placeholder, input[type="password"]:hover:-moz-placeholder, input[type="search"]:hover:-moz-placeholder, input[type="tel"]:hover:-moz-placeholder, input[type="text"]:hover:-moz-placeholder, input[type="time"]:hover:-moz-placeholder, input[type="url"]:hover:-moz-placeholder, input[type="week"]:hover:-moz-placeholder, input:not([type]):hover:-moz-placeholder, textarea:hover:-moz-placeholder {
  color: #888;
}
input[type="color"]:focus:-ms-input-placeholder, input[type="date"]:focus:-ms-input-placeholder, input[type="datetime"]:focus:-ms-input-placeholder, input[type="datetime-local"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="month"]:focus:-ms-input-placeholder, input[type="number"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, input[type="search"]:focus:-ms-input-placeholder, input[type="tel"]:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, input[type="time"]:focus:-ms-input-placeholder, input[type="url"]:focus:-ms-input-placeholder, input[type="week"]:focus:-ms-input-placeholder, input:not([type]):focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder,
input[type="color"]:hover:-ms-input-placeholder, input[type="date"]:hover:-ms-input-placeholder, input[type="datetime"]:hover:-ms-input-placeholder, input[type="datetime-local"]:hover:-ms-input-placeholder, input[type="email"]:hover:-ms-input-placeholder, input[type="month"]:hover:-ms-input-placeholder, input[type="number"]:hover:-ms-input-placeholder, input[type="password"]:hover:-ms-input-placeholder, input[type="search"]:hover:-ms-input-placeholder, input[type="tel"]:hover:-ms-input-placeholder, input[type="text"]:hover:-ms-input-placeholder, input[type="time"]:hover:-ms-input-placeholder, input[type="url"]:hover:-ms-input-placeholder, input[type="week"]:hover:-ms-input-placeholder, input:not([type]):hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
  color: #888;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  padding: 10px;
  color: white;
  background-color: #6d0693;
  border: solid 1px #411850;
  font-size: 14px;
  box-shadow: -5px 5px 5px #000;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
  outline: none;
  border: solid 2px #620584;
  box-shadow: -6px 6px 6px #570576;
  cursor: pointer;
}

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  outline: none;
  box-shadow: -10px 10px 10px #410458;
  position: relative;
  top: 2px;
  left: -2px;
}

/*# sourceMappingURL=app.css.map */