
//Box SAAS//

#boxes
  +grid-container(12 60px)

  .box1
    +grid-column(4)
    background-color: purple
    padding: 50px 10px
    +keyframes(fadeIn)
      from
        +transform(scale(0))
      to
        +transform(scale(1))
    +animation(fadeIn 3.0s ease-in, slide 2.0s ease)


  .box2
    +grid-shift(3)
    +grid-column(5)
    background-color: purple
    padding: 50px 0px
    +keyframes(mine)
      from
        background-color: yellow
      to
        background-color: $purple
    +animation(mine 3.0s linear, slide 2.0s ease)


#boxes-1
  +grid-container(12 30px)
  color: white


  .box1-1
    +grid-column(3)
    background-color: $dark-purple
    padding: 5px 10px

  .box2-1
    +grid-column(4)
    background-color: $purple
    padding: 5px 10px

  .box3-1
    +grid-column(4)
    background-color: $light-purple
    padding: 5px 10px
